.ContentButton {
    margin: 50px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #0062cc;
    text-transform: uppercase;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 5px;
}

.ContentButton:hover, .ContentButton:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
