.Button {
    color: #fff;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #cce5ff;
    border: none;
}

.Button span {
    padding: 7px 15px;
    border-radius: 5px;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 2px;
}