.AlertContent {
    width: 50%;
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

.AlertContent p {
    margin-bottom: 20px;
}