.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    color: #0c5460;
    background-color: white;
    border-color: #bee5eb;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.modal {
    position: relative;
}